[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
gunicorn = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"
coveralls = "*"

[packages]
Flask = "*"
Flask-Cors = "*"
cx-oracle = "*"
boto3 = "*"
werkzeug = "*"
