<div id="author-lookup">
    Search: <input id="author-lookup-search" type="text"><span id="author-lookup-status"></span>
    <div id="author-lookup-results">
        <table>
            <thead>
                <tr>
                    <th class="name">Name</th>
                    <th class="mit_id">MIT Id</th>
                    <th class="dept">Dept</th>
                    <th class="end_date">End</th>
                </tr>
            </thead>
            <tbody id="author-lookup-tbody"></tbody>
        </table>
    </div>
</div>